{% extends 'base.html' %}

{% load static %}

{% block title %} | 2048 {% endblock %}


{% block content %}
<style>
    h2 {
        color: #1e728c;
    }
</style>
<h2>Human: O</h2>
<h2>AI: X</h2>
<div id="sketch-holder">
    <p style="font-size:24pt;" id="predict"></p>
    <p style="font-size:24pt;" id="result"></p>
    <p style="font-size:24pt;color: red" id="restart"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>

<script src="{% static 'p5/tic-tac-toe/sketch.js' %}"></script>
<script src="{% static 'p5/tic-tac-toe/minimax.js' %}"></script>

{% endblock %}

