{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>Nothing here now</p>
<div id="myContainer">
</div>
<script>
    // var url1 = "{% static 'p5/unicorn/Cubano-1.ttf' %}";
    var url2 = "{% static 'p5/unicorn/unicorn.png' %}";
    var url3 = "{% static 'p5/unicorn/train.png' %}";
    // var url4 = "{% static 'p5/unicorn/audioAlert.mp3' %}";
    // var url5 = "{% static 'p5/unicorn/game_over.mp3' %}";
    // var url6 = "{% static 'p5/unicorn/pause.mp3' %}";
    // var url7 = "{% static 'p5/unicorn/play.mp3' %}";
    // var url8 = "{% static 'p5/unicorn/train_whistle.mp3' %}";
    // var url9 = "{% static 'p5/unicorn/coding_train_bg_top.jpg' %}";
    // var url10 = "{% static 'p5/unicorn/coding_train_bg_bottom.jpg' %}";
    // var url11 = "{% static 'p5/unicorn/night_sky.jpg' %}";
    var url12 = "{% static 'p5/unicorn/background.jpg' %}"
</script>

<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/addons/p5.sound.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bmoren/p5.collide2D/p5.collide2d.min.js"></script>
<script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>

<script src="{% static 'p5/unicorn/sketch.js' %}"></script>
<script src="{% static 'p5/unicorn/unicorn.js' %}"></script>
<script src="{% static 'p5/unicorn/train.js' %}"></script>

{% endblock %}