{% extends 'base.html' %}
{% load static %}
{% block title %} | Carousel {% endblock %}
{% block content %}


<style>
    @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Lato|Open+Sans&display=swap');

    p {
        /*font-family: 'Shadows Into Light';*/
        font-family: 'Indie Flower';
        font-size: 28px;
    }
</style>
<div class="row">
    <div class="col align-self-center">
        <hr>
        <p>Worker bees can leave.<br/>
            &nbsp Even drones can fly away.<br/>
            &nbsp&nbsp The queen is their slave.<br/></p>
        <br/>
        <p style="font-size: 14px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- the insomniac office worker</p>
    </div>
    <div class="col">
        <hr>
        我知这世界，本如露水般短暂。
        <br/>
        然而，
        <br/>
        然而。
        <br/>
        ——小林一茶
    </div>
</div>

{% endblock %}