{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="row">
            {% for num in album %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                {% with image_static="img/mycollection/"|add:num|add:".jpeg" %}
                <a class="thumbnail" href="{% static image_static %}" data-image-id="" data-toggle="modal"
                    data-title="Image" data-image="{% static image_static %}" data-target="#image-gallery">
                    <img class="img-thumbnail" src="{% static image_static %}" alt="Another alt text"
                        style="max-width: 280px; max-height: 280px">
                </a>
                {% endwith %}
            </div>
            {% endfor %}

        </div>

        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img id="image-gallery-image" class="img-fluid" src="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                                class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                                class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="{% static 'js/gallery.js' %}"></script>

{% endblock %}