{% extends 'base.html' %}

{% load static %}

{% block title %} | Smart Rocket {% endblock %}


{% block content %}
<style>
    h3 {
        font-family: Comic Sans MS, Comic Sans, cursive;
    }

    button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

    button:hover {
        background-color: #3e8e41
    }

    button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

</style>

<h3>random image</h3>
<p>API: <a target="_blank" href="https://picsum.photos/">https://picsum.photos/</a></p>

<div class="row">
    <div class="col">
        <img id="my_img" src="https://picsum.photos/600" alt="">
    </div>
    <div class="col align-self-center">
        <button onclick="myFunction()"><h3>Next Random Image</h3></button>
        <button style="display: block" onClick="window.location.reload();"><h3>Refresh Page</h3></button>
    </div>
</div>






<script>
    function myFunction() {
        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        let random_seed = getRandomInt(600);
        document.getElementById("my_img").src = "https://picsum.photos/id/" + random_seed + "/600";
    }
</script>

{% endblock %}

