{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 10px;">
    <a href="#" rel="prev">
        <button type="button" class="btn btn-info" data-toggle="popover" title="Tooltip"
                data-placement="bottom"
                data-trigger="focus"
                data-content="Some content inside the popover"
        >Previous Chapter
        </button>
    </a>
    <div class="form-group">
        <select class="form-control form-control-sm d-inline-block"
                onchange="if (this.value) window.location.href=this.value">
            {% for key, value in manga_list.items %}
            <option value="#">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <a href="#" rel="next">
        <button type="button" class="btn btn-info" data-toggle="popover" title="Tooltip"
                data-placement="bottom"
                data-trigger="focus"
                data-content="The function has not been written"
        >Previous Chapter
        </button>
    </a>
    <div class="form-group">
        <select class="form-control form-control-sm d-inline-block">
            <option value="0">Multi image</option>
            <option value="1">Single image</option>
        </select>
    </div>
</div>

<br>

<style>
    div.container {
        text-align: center;
    }

    .img_container {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .img_container img {
        border: 2px solid;

    }
</style>

<div class="text-center">
    {% for num in numbers %}
    {% with image_url="img/attack_on_titan_121/"|add:num|add:".jpg" %}
    <div class="img_container mb-2">
        <img class="img-fluid" src="{% static image_url %}">
    </div>
    {% endwith %}
    {% endfor %}
</div>

{% endblock %}