{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}

<!-- Breadcrumb -->

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active"> Dashboard</li>
</ul>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<h2>Welcome {{ user.first_name }}</h2>

<hr>

<h2>Upload files</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% endblock %}